/*GENERAL*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*SECTION*/
.sfondo{
    height: 100vh;
    position: relative;
}
.sfondo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
/*LOGO*/
.nav{
    position: absolute;
    display:inline-block;
    top:0;
    left: 0;   
    padding: 10px 20px;
}
/*MENU*/
.nav2{
    position: absolute;
    display:inline-block;
    top:0;
    left:25%;
    padding: 10px 20px;
}
ul {
    list-style: none;
    margin:0;
    padding:0;
    text-align:center;
    }
li {
    display:inline-block;
} 
li a {
    color: black;
    display:inline-block;
    padding:10px;
    font-weight: bold;
    text-decoration: none;
    }
.nav3{
        position: absolute;
        display:inline-block;
        top:0;
        right:0;
        padding: 10px 20px;
    }
/*Model*/
.model{
    position: absolute;
    text-align: center;
    top:20%;
    left:0;
    right:0;
    padding: 10px 20px;
    display:inline-block;
}
/*Button*/
.button1{
    position: absolute;
    border: 1px solid gray;
    border-radius: 500px;
    color: #fff;
    font-size:14px;
    background-color:rgba(23, 26, 32, 0.8);
    text-align: center;
    top:85%;
    left:40%;
    padding: 10px 20px;
    display:inline-block;
    transform: translateX(-50%);
    margin: 0 0.5em;
}
.button2{
    position: absolute;
    border: 1px solid white;
    border-radius: 500px;
    color: rgba(23, 26, 32, 0.8);
    font-size:14px;
    background-color:#fff;
    text-align: center;
    top:85%;
    left:60%;
    padding: 10px 20px;
    display:inline-block;
    transform: translateX(-50%);
}
/*TEST DRIVE*/
.drive{
    position: absolute;
    text-align: center;
    top:20%;
    left:0;
    right:0;
    padding: 10px 20px;
    display:inline-block;
}